<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li>
            <li>...all leagues where sport is any type of hockey</li>
            <li>...all leagues where sport is something OTHER THAN football</li>
            <li>...all leagues that call themselves "conferences"</li>
            <li>...all leagues in the Atlantic region</li>
            <li>...all teams based in Dallas</li>
            <li>...all teams named the Raptors</li>
            <li>...all teams whose location includes "City"</li>
            <li>...all teams whose names begin with "T"</li>
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
          <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                
                <h3>Womens' Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.WomensLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

                <h3>Hocky Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.HockeyLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

                <h3>Football Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.FootballLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

                <h3>Conference Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.ConferenceLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>

                <h3>Atlantic Leagues</h3>
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach(var l in ViewBag.AtlanticLeagues)
                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>
                    }
                </table>


                <h3>Dallas Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.DallasTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

                <h3>Raptors Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var t in ViewBag.RaptorsTeams)
                    {
                        <tr>
                            <td>@t.Location</td>
                            <td>@t.TeamName</td>
                        </tr>
                    }
                </table>

                <h3>City Teams</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var l in ViewBag.CityTeams)
                    {
                        <tr>
                            <td>@l.Location</td>
                            <td>@l.TeamName</td>
                        </tr>
                    }
                </table>


                <h3>All Teams whose names start with T</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var tTeams in ViewBag.StartWithTTeams)
                    {
                        <tr>
                            <td>@tTeams.Location</td>
                            <td>@tTeams.TeamName</td>
                        </tr>
                    }
                </table>

                <h3>All Teams by location</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var teamByLocation in ViewBag.TeamsSortedByLocation)
                    {
                        <tr>
                            <td>@teamByLocation.Location</td>
                            <td>@teamByLocation.TeamName</td>
                        </tr>
                    }
                </table>

                <h3>All Teams by reverse order</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Location</th>
                        <th>Team Name</th>
                    </tr>
                    @foreach(var TReverseOrder in ViewBag.TeamsReverseOrder)
                    {
                        <tr>
                            <td>@TReverseOrder.Location</td>
                            <td>@TReverseOrder.TeamName</td>
                        </tr>
                    }
                </table>




                @* ... rest of teams *@



                <h3>Players with last name Cooper</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name </th>
                        <th>Current Team</th>
                    </tr>
                    @foreach(var p in ViewBag.LastNameCooperPlayers)
                    {
                        <tr>
                            <td>@p.FirstName @p.LastName</td>
                            <td>@p.CurrentTeam.TeamName</td>
                        </tr>
                    }
                </table>


                <h3>Players with first name joshua</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name </th>
                        <th>Current Team</th>
                    </tr>
                    @foreach(var player in ViewBag.PlayersNamesJoshua)
                    {
                        <tr>
                            <td>@player.FirstName @player.LastName</td>
                            <td>@player.CurrentTeam.TeamName</td>
                        </tr>
                    }
                </table>

                <h3>All player with last name cooper no joshuas'</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name </th>
                        <th>Current Team</th>
                    </tr>
                    @foreach(var coopPlayerNoJoshua in ViewBag.LastNameCooperNoJoshuaPlayers)
                    {
                        <tr>
                            <td>@coopPlayerNoJoshua.FirstName @coopPlayerNoJoshua.LastName</td>
                            <td>@coopPlayerNoJoshua.CurrentTeam.TeamName</td>
                        </tr>
                    }
                </table>

                <h3>All Alex and Wyatt Players</h3>
                <table class="table table-striped">
                    <tr>
                        <th>Name </th>
                        <th>Current Team</th>
                    </tr>
                    @foreach(var duonames in ViewBag.AlexAndWyattPlayers)
                    {
                        <tr>
                            <td>@duonames.FirstName @duonames.LastName</td>
                            <td>@duonames.CurrentTeam.TeamName</td>
                        </tr>
                    }
                </table>

@* 
                <table class="table table-striped">

                    @foreach(var l in ViewBag.LastName)
                    {
                        <tr>
                            <td>@l.LastName</td>
                            <td>@l.FirstName</td>
                        </tr>
                    }
                    @foreach(var l in ViewBag.FirstName)
                    {
                        <tr>
                            <td>@l.LastName</td>
                            <td>@l.FirstName</td>
                        </tr>
                    }
                    @foreach(var l in ViewBag.LastName)
                    {
                        <tr>
                            <td>@l.LastName</td>
                            <td>@l.FirstName</td>
                        </tr>
                    }
                    @foreach(var l in ViewBag.Firstname)
                    {
                        <tr>
                            <td>@l.LastName</td>
                            <td>@l.FirstName</td>
                           
                        </tr> *@
                        @* @foreach(var f in ViewBag.FirstName)
                            <tr>
                                <td>@f.LastName</td>
                                <td>@f.FirstName</td>
                            </tr>
                 *@
                   @* // } *@
                    
                </table>
            </div>
        </div>
    </div>

</div>
    </div>
</div>